---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate } from "@/utils";

interface Props extends IElement {
	book: CollectionEntry<"book">;
	withDesc?: boolean;
}

const { book , as: Element = "div", withDesc = false } = Astro.props;
const date = new Date(book.data.publishDate);
const datetime = date.toISOString();
const bookDate = getFormattedDate(date, { month: "short" });
---

<!-- 
	<div class="max-w-sm overflow-hidden rounded-xl bg-white shadow-md duration-200 hover:scale-105 hover:shadow-xl">
	  <img src="https://i.imgur.com/5dmBrx6.jpg" alt="plant" class="h-auto w-full" />
	  <div class="p-5">
		<p class="text-medium mb-5 text-gray-700">Well, aren't you going up to the lake tonight, you've been planning it for two weeks.</p>
		<button class="w-full rounded-md bg-indigo-600  py-2 text-indigo-100 hover:bg-indigo-500 hover:shadow-md duration-75">See More</button>
	  </div>
	  </div> -->



<time datetime={datetime} class="min-w-[120px] text-gray-500">{bookDate}</time>
<Element>
	<a href={`/books/${book.slug}`} class="cactus-link inline-block line-clamp-2" rel="prefetch">
		{book.data.title}
	</a>
</Element>
{withDesc && <q class="mt-2 block italic line-clamp-3">{book.data.description}</q>}
